

@{
    ViewBag.Title = "Главная страница";
}

<h2>Список заказов</h2>

<div class="row g-3">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="input-group mb-3 col-md-6">
            <label class="input-group-text">Клиент</label>
        </div>
        <div class="input-group mb-3 col-md-6">
            <label class="input-group-text">Начальная дата:</label>
        </div>
        <div class="input-group mb-3 col-md-6">
            <label class="input-group-text">Конечная дата:</label>
        </div>
        <div class="input-group mb-3 col-md-6">
            <label class="input-group-text">Статус:</label>
        </div>
        <button class="btn btn-secondary" type="submit">Применить фильтр</button>
    }
</div>

<button class="btn btn-secondary">Добавить новый заказ</button>

